@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto:wght@100;300;400;500;700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Inspiration', cursive; */
    transition: .2s linear;
}

body {
    background-color: black;
}

.slogan {
    font-family: 'Courgette', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(253, 151, 151)
}

.slogan:hover {
    color: white
}
/* form style */

.form1 {
    width: 80%;
    margin: auto;
    padding: 25px;
    background: transparent;
    color: white;
    height: 80vh;
    border: 1px solid rgb(253, 151, 151);
}
::-webkit-input-placeholder{
    color: white;
    }
    .form-control{
        background: transparent;
        width:40%; 
        margin-left: 32%; 
        color: aliceblue; 
    }
    .order{
        background-color: transparent;
        color: #fff;
        border: 1px solid white;
        width: 20%;
        margin-left: 32%;
    }
    .order:hover{
        background-color: rgb(119, 57, 57);
    }
    .table{
        color: #fff;
        display:none;
    }
    /* hidden buttons */
.check-out{
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}
.check-out:hover{
    background-color: rgb(119, 57, 57);
}
.btn-add{
    background-color: transparent;
    color: #fff;
    border: 1px solid white; 
    width: 20%;
    margin-left: 35%;
}
.btn-add:hover{
    background-color: rgb(119, 57, 57);
}
input[type=text]{
    background-color: transparent;
    border: 1px solid white;
}
::-webkit-input-placeholder{
    color: gray;
}
.complete{
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    margin-left: 5%;
}
.complete:hover{
    background-color: rgb(119, 57, 57);
}
.deliver{
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    width: 10%;
}
.deliver:hover{
    background-color: rgb(119, 57, 57);
}
.no-deliver{
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    width: 10%;
    margin-left: 5%;
}
.no-deliver:hover{
    background-color: rgb(119, 57, 57);
}
.hidden-btns{
    display:none;
}
